body {
    background-color: black;
}

.title {
    background-image: url("chess-background-4.webp");
    background-size: stretch;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 110vh;
    width: 105vw;
    margin: -10% -2% -2% -2%;
    padding: 0;

}

img {
    object-fit: cover;

}

#heading {
    margin-top: 5%;
    font-family: monospace;
    font-size: 500%;
    color: black;
    padding: 1%;
}

#about {
    font-family: monospace;
    font-size: 250%;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;


}

.container {
    margin: 3%;
    height: 80vh;
    width: 90vw;
    display: grid;
    grid-template-columns: 1.6fr 0.4fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "main vids";
}

ul {
    list-style: none;
}

.vids {
    grid-area: vids;


}

.main {
    grid-area: main;

    padding: 1%;

}

#main-vid {
    aspect-ratio: 16 / 9;
    width: 100%;
    border-radius: 25px;
}

.vid-suggestions {
    aspect-ratio: 16 / 9;
    width: 100%;
    border-radius: 25px;

}