/*body {
    background-image: url("coding-journey.png");
    background-size: stretch;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100vw;
    padding: 0;
    margin: -5%;

}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

#heading {
    margin: 10%;
    font-family: sans-serif;
    font-size: 500%;
    color: white;
    padding: 1%;
}

.container {
    height: 70vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1.6fr 0.4fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "main vids";
}

ul {
    list-style: none;
}

.vids {
    grid-area: vids;

    height: 93.5%;
    width: 80%;
    padding: 2%
}

.main {
    margin-left: 8%;
    grid-area: main;

    height: 80%;
    width: 80%;
    padding: 2%
}

#main-vid {
    aspect-ratio: 16 / 9;
    width: 100%;
    border-radius: 25px;
}

.vid-suggestions {
    aspect-ratio: 16 / 9;
    width: 100%;
    border-radius: 25px;
}